MONGODB_URI=mongodb+srv://CarpinteriAPP:Alancoi1994.@cluster0.rpolgcgz.mongodb.net/?appName=Cluster0

JWT_SECRET=tu_jwt_secret_muy_largo_y_seguro_aqui

ANTHROPIC_API_KEY=sk-ant-tu-api-key-aqui

MERCADOPAGO_TOKEN=tu_mercado_pago_token_aqui

FRONTEND_URL=https://tu-dominio.com

PORT=5000

NODE_ENV=production
